<div class="container">
  <hr>
  <h1>Movies</h1>
  <hr>
  <% @movies.each do |movie| %>
    <h3><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h3>
  <% end %>
  <br>
  <%= link_to "Add a New Movie", "/movies/new" %>
</div>